html body {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

div.canvas-row {
  height: 24px;
  border-collapse: collapse;
  padding: 0px;
  margin: 0px;
}

#canvas {
  border-width: 1px;
  border-left-style: dotted;
  border-bottom-style: dotted;
  border-color: #69c;
  padding: 0px 1px 1px 0px;
  margin: 10px;
  text-align: center;
  display: inline-block;
}

#colorPattern {
  text-align: left;
  margin: 10px;
}

#colorPicker {
    text-align: left;
    margin: 10px;
}

#main {
    background-color: #efefef;
    text-align: center;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    border-width: 1px;
    border-style: solid;
    border-color:#69c;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
}

#mainContainer {
    text-align: center;

}

.control {
  vertical-align: top;
  text-align: left;
  padding: 5px;
  display: inline-block;
}

div.color-pick {
  border-width: 1px;
  border-style: dotted dotted dotted dotted;
  border-color: #69c;
  height: 20px;
  width: 20px;
  display: inline-block;
  padding: 2px;
  margin: 1px 2px;
}

div.canvas-cell {
  border-width: 1px;
  border-style: dotted dotted none none;
  border-color: #69c;
  height: 24px;
  width: 24px;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  border-collapse: collapse;
}
